<section class="py-1 bg-white">
  <div class="overflow-hidden relative">
    <div class="flex space-x-4 slider-container">
      <!-- Imágenes -->
      <div class="w-1/2 sm:w-1/5">
        <img src="/images/Sliders/10.jpg" alt="Imagen" class="rounded-lg w-full h-48 sm:h-96 object-cover object-center">
      </div>
      <div class="w-1/2 sm:w-1/5">
        <img src="/images/Sliders/02.jpg" alt="Imagen" class="rounded-lg w-full h-48 sm:h-96 object-cover object-center">
      </div>
      <div class="w-1/2 sm:w-1/5">
        <img src="/images/Sliders/03.jpg" alt="Imagen" class="rounded-lg w-full h-48 sm:h-96 object-cover object-center">
      </div>
      <div class="w-1/2 sm:w-1/5">
        <img src="/images/Sliders/11.jpg" alt="Imagen" class="rounded-lg w-full h-48 sm:h-96 object-cover object-center">
      </div>
      <div class="w-1/2 sm:w-1/5">
        <img src="/images/Sliders/12.jpg" alt="Imagen" class="rounded-lg w-full h-48 sm:h-96 object-cover object-center">
      </div>
      <div class="w-1/2 sm:w-1/5">
        <img src="/images/Sliders/13.jpg" alt="Imagen" class="rounded-lg w-full h-48 sm:h-96 object-cover object-center">
      </div>
      <div class="w-1/2 sm:w-1/5">
        <img src="/images/Sliders/14.jpg" alt="Imagen" class="rounded-lg w-full h-48 sm:h-96 object-cover object-center">
      </div>
      <div class="w-1/2 sm:w-1/5">
        <img src="/images/Sliders/04.jpg" alt="Imagen" class="rounded-lg w-full h-48 sm:h-96 object-cover object-center">
      </div>
      <div class="w-1/2 sm:w-1/5">
        <img src="/images/Sliders/05.jpg" alt="Imagen" class="rounded-lg w-full h-48 sm:h-96 object-cover object-center">
      </div>
      <div class="w-1/2 sm:w-1/5">
        <img src="/images/Sliders/06.jpg" alt="Imagen" class="rounded-lg w-full h-48 sm:h-96 object-cover object-center">
      </div>
      <div class="w-1/2 sm:w-1/5">
        <img src="/images/Sliders/07.jpg" alt="Imagen" class="rounded-lg w-full h-48 sm:h-96 object-cover object-center">
      </div>
      <div class="w-1/2 sm:w-1/5">
        <img src="/images/Sliders/08.jpg" alt="Imagen" class="rounded-lg w-full h-48 sm:h-96 object-cover object-center">
      </div>
      <div class="w-1/2 sm:w-1/5">
        <img src="/images/Sliders/09.jpg" alt="Imagen" class="rounded-lg w-full h-48 sm:h-96 object-cover object-center">
      </div>
    </div>
  </div>
</section>

<style>
.slider-container {
  display: flex;
  animation: slideLeft 40s linear infinite; /* Ajusta la duración de la animación según sea necesario */
}

.slider-container > div {
  flex: 0 0 auto; /* Asegura que las imágenes no se redimensionen */
}

@keyframes slideLeft {
  0% {
    transform: translateX(0); /* Inicia desde la posición original */
  }
  100% {
    transform: translateX(-100%); /* Se desplaza hacia la izquierda */
  }
}

@media (min-width: 640px) {
  .slider-container {
    animation: slideLeft 40s linear infinite; /* Duración de la animación para pantallas medianas y grandes */
  }
}

</style>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  const sliderContainer = document.querySelector('.slider-container');
  if (sliderContainer) {
    const firstSlide = sliderContainer.firstElementChild;
    const lastSlide = sliderContainer.lastElementChild;

    if (firstSlide && lastSlide) {
      const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            if (entry.target === lastSlide) {
              if (sliderContainer && firstSlide) {
                sliderContainer.appendChild(firstSlide);
                observer.unobserve(lastSlide);
                const newLastSlide = sliderContainer.lastElementChild;
                if (newLastSlide) {
                  observer.observe(newLastSlide);
                }
              }
            }
          }
        });
      }, {
        root: sliderContainer,
        threshold: 1.0
      });

      observer.observe(lastSlide);
    }
  }
});

</script>