<section>
    <!-- Header -->
    <header class="relative h-screen">
      <div class="bg-cover bg-center h-full" style="background-image: url('../../public/images/Sliders/Slider01.jpg')"></div>
      <div class="absolute bottom-0 left-0 w-full p-8 transform translate-y-1/2 z-10">
        <h1 class="bg-[#947F45] text-2xl py-2 rounded-md text-center text-white max-w-md mx-auto">
          Nuestro Remate 2023
        </h1>
      </div>
    </header>
  </section>
  