<div class="relative overflow-hidden w-full h-[12rem] sm:h-[30rem]">
  <img
    class="w-full h-full object-cover object-[right_center] sm:object-center"
    src="/images/Sliders/Genetica.jpg"
    alt="Imagen Madre"
  />
</div>
