---
interface Props {
  href: string;
  className?: string;
  ariaCurrent?: 'page' | 'step' | 'location' | 'date' | 'time' | 'true' | 'false';
}
const { href, className, ariaCurrent } = Astro.props as Props;
---

<a href={href} class={`flex-row justify-center text-white cursor-pointer focus:ring-4 
  font-medium rounded-lg px-5 py-2.5 text-center 
  inline-flex items-center dark:focus:ring-[#1da1f2]/55 mr-2 mb-2 hover:shadow-lg transition-all duration-200
  ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-90 hover:opacity-100 ${className}`}
  aria-current={ariaCurrent}>
  <slot />
</a>

<style>
  .hover\:bg-brand-color:hover {
    background-color: #030303;
  }
</style>
