<section>
  <nav id="navbar" class="fixed w-full z-30 top-0 left-0 bg-transparent transition-colors duration-300 ml-auto">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 md:pl-0">
      <a href="/" class="flex items-center">
        <img id="logo" src="/images/Logo/Logo Haras Blanco.svg" class="sm:h-28 h-16 mr-1 transition-all duration-300" alt="Logo" />
      </a>
      <button id="menu-toggle" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-200 rounded-lg md:hidden hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="flex flex-col text-2xl p-0 mt-4 font-light border border-gray-200 rounded-lg md:flex-row md:space-x-1 md:mt-0 md:border-0 ml-auto">
          <li >
            <a href="/" aria-current="page"
              class="flex-row justify-center text-white cursor-pointer font-medium rounded-lg px-3 py-2 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 opacity-90 hover:opacity-100 navbar-button">
              Home
            </a>
          </li>
          <li >
            <a href="/madres"
              class="flex-row justify-center text-white cursor-pointer font-medium rounded-lg px-3 py-2 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 opacity-90 hover:opacity-100 navbar-button">
              Madres
            </a>
          </li>
          <li >
            <a href="/productos-destacados"
              class="flex-row justify-center text-white cursor-pointer font-medium rounded-lg px-3 py-2 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 opacity-90 hover:opacity-100 navbar-button">
              Productos Destacados
            </a>
          </li>
          <li >
            <a href="/#staff"
              class="flex-row justify-center text-white cursor-pointer font-medium rounded-lg px-3 py-2 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 opacity-90 hover:opacity-100 navbar-button">
              Staff
            </a>
          </li>
          <li >
            <a href="/#pilares"
              class="flex-row justify-center text-white cursor-pointer font-medium rounded-lg px-3 py-2 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 opacity-90 hover:opacity-100 navbar-button">
              Pilares
            </a>
          </li>
          <li >
            <a href="/#contacto"
              class="flex-row justify-center text-white cursor-pointer font-medium rounded-lg px-3 py-2 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 opacity-90 hover:opacity-100 navbar-button">
              Contacto
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<style>
  .btn-brand-color {
    background-color: #ab994b;
  }

  .btn-brand-color:hover {
    background-color: #ab994b;
  }

  .background-navbar {
    background: linear-gradient(180deg,
        rgba(182, 142, 72, 0.589) 0%,
        rgba(204, 159, 82, 0.404) 41%,
        rgba(221, 172, 88, 0.02) 100%);
  }

  .scrolled-background {
    backdrop-filter: blur(10px);
    background-color: #9c925d57;
  }

  .scrolled-logo {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
  }

  .scrolled-text {
    color: #fff;
  }

  .navbar-button {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .navbar-button:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    /* Ajusta el grosor del subrayado aquí */
    bottom: 0;
    left: 0;
    background-color: #ab994b;
    /* Color del subrayado */
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out;
  }

  .navbar-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    /* Ajusta el grosor del subrayado aquí */
    bottom: 0;
    left: 0;
    background-color: #ab994b;
    /* Color del subrayado */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  @media (max-width: 767px) {
    #navbar-default {
      background-color: #fff;
      padding: 8px;
      border-radius: 10px;
    }

    .navbar-button {
      transition: background-color 0.3s ease;
      padding: 8px 12px;
      border-radius: 8px;
      margin-bottom: 4px;
      color: #ab994b;
    }

    .navbar-button:hover {
      background-color: #ab994b;
      color: #fff;
    }
  }

  @media (min-width: 768px) {
    .navbar-button {
      margin: 0 10px;
    }

    .navbar-button:hover {
      transform: scale(1.1);
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var nav = document.getElementById("navbar");
    var logo = document.getElementById("logo");
    var buttons = document.querySelectorAll(".navbar-button");

    function changeNavbarOnScroll() {
      if (window.scrollY > 50) {
        nav && nav.classList.add("scrolled-background");
        logo && logo.classList.add("scrolled-logo");
        buttons.forEach(function (button) {
          button.classList.add("scrolled-text");
        });
      } else {
        nav && nav.classList.remove("scrolled-background");
        logo && logo.classList.remove("scrolled-logo");
        buttons.forEach(function (button) {
          button.classList.remove("scrolled-text");
        });
      }
    }

    window.addEventListener("scroll", changeNavbarOnScroll);

    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("navbar-default");

    menuToggle && menuToggle.addEventListener("click", () => {
      menu && menu.classList.toggle("hidden");
    });
  });
</script>
