<section class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="card bg-white p-4 rounded-lg shadow-md">
        <div class="bg-white p-4 md:p-2">
            <img src="../../public/images/Pilares/Herencia.svg" class="mx-auto mb-4 h-40 md:h-44">
            <h3 class="text-xl text-center font-bold mb-2 text-black">Herencia y trayectoria</h3>
            <p class="text-gray-600 tracking-wide text-justify">
                Nuestra historia en el mundo ecuestre se remonta al año 1981 con "Haras Don Florentino", donde nos destacamos en la cría de Caballos Sangre Pura de Carrera, posicionándonos actualmente entre los mejores haras de esta disciplina en el país.
            </p>
            <details>
                <summary class="mt-2 block text-blue-500 cursor-pointer"></summary>
                <div class="additional-text text-gray-600 tracking-wide text-justify">
                    Años más tarde, mantenido viva la tradición y la pasión por la cría de caballos de calidad, nos expandimos hacia la cría de caballos de Salto, dando lugar a la introducción de "Haras Don Cándido". Esta diversificación no solo enriqueció nuestro legado familiar, sino que también amplió nuestra experiencia y conocimientos en el ámbito de la cría equina, generando sinergias que nos permitieron escalar y sobresalir en diferentes campos dentro de la actividad ecuestre.
                </div>
            </details>
        </div>
    </div>
    <!-- Repite la estructura similar para otras tarjetas -->
</section>

<style>
    .text-justify {
        text-align: justify;
    }
    details {
        position: relative; /* Añade posición relativa al contenedor details */
    }
    details > summary {
        outline: none;
        list-style: none; /* Oculta el marcador de detalles en algunos navegadores */
        cursor: pointer;
        position: absolute;
        bottom: 0; /* Coloca el summary al final del details */
        width: 100%; /* Ocupa todo el ancho del details */
        text-align: center; /* Centra el texto del summary */
    }
    .additional-text {
        display: none;
        margin-top: 1rem; /* Añade espacio entre el texto y el botón */
    }
    details[open] .additional-text {
        display: block;
    }
    details[open] summary::after {
        content: "Ver menos";
    }
    details:not([open]) summary::after {
        content: "Ver más";
    }
</style>
