<section id="pilares" class="py-16 bg-white">
  <h2 class="text-4xl font-bold text-center text-black mb-1 font-serif">Pilares</h2>
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-4 md:px-12">
    <!-- Tarjeta 1: Herencia y trayectoria -->
    <div class="bg-white p-4 md:p-2">
      <img src="../../public/images/Pilares/Herencia.svg" class="mx-auto mb-4 h-40 md:h-44">
      <h3 class="text-xl text-center font-bold mb-2 text-black">Herencia y trayectoria</h3>
      <p class="text-gray-600 tracking-wide text-justify">Nuestra historia en el mundo ecuestre se remonta al año 1981 con "Haras Don Florentino", donde nos destacamos en la cría de Caballos Sangre Pura de Carrera, posicionándonos actualmente entre los mejores haras de esta disciplina en el país. Años más tarde, mantenido viva la tradición y la pasión por la cría de caballos de calidad, nos expandimos hacia la cría de caballos de Salto, dando lugar a la introducción de "Haras Don Cándido". Esta diversificación no solo enriqueció nuestro legado familiar, sino que también amplió nuestra experiencia y conocimientos en el ámbito de la cría equina, generando sinergias que nos permitieron escalar y sobresalir en diferentes campos dentro de la actividad ecuestre.</p>
    </div>

    <!-- Tarjeta 2: Excelencia genética -->
    <div class="bg-white p-4 md:p-2">
      <img src="../../public/images/Pilares/Genetica.svg" alt="Icono Servicio 2" class="mx-auto mb-4 h-40 md:h-44">
      <h3 class="text-xl font-bold mb-2 text-black text-center">Excelencia genética</h3>
      <p class="text-gray-600 tracking-wide text-justify">Nuestro magnífico Pool de Genes es el resultado de décadas de cuidadosa selección y crianza. Desde nuestros inicios apostamos a la genética de elite, importando nuestras primeras yeguas desde Europa. Cada caballo que criamos está respaldado por una combinación única de linajes de alto rendimiento, lo que nos permite producir potros con el potencial para destacarse en las mejores pistas dentro y fuera del país.</p>
    </div>

    <!-- Tarjeta 3: Cuidado y dedicación -->
    <div class="bg-white p-4 md:p-2">
      <img src="../../public/images/Pilares/Cuidado.svg" alt="Icono Servicio 3" class="mx-auto mb-4 h-40 md:h-44">
      <h3 class="text-xl font-bold mb-2 text-black text-center">Cuidado y dedicación</h3>
      <p class="text-gray-600 tracking-wide text-justify">Nuestro compromiso con el cuidado y el bienestar de nuestros caballos es insuperable. Contamos con un equipo de personal capacitado y entrenado que se dedica a garantizar que cada caballo reciba la atención individualizada que necesita para prosperar como atleta.</p>
    </div>

    <!-- Línea divisoria -->
    <div class="col-span-full flex justify-center my-8">
      <div class="w-5/6 h-0.5 bg-gray-300"></div>
    </div>

    <!-- Tarjeta 4: Tierras y recursos de calidad -->
    <div class="bg-white p-4 md:p-2">
      <img src="../../public/images/Pilares/Tierras.svg" alt="Icono Servicio 4" class="mx-auto mb-4 h-40 md:h-44">
      <h3 class="text-xl font-bold mb-2 text-black text-center">Tierras y recursos de calidad</h3>
      <p class="text-gray-600 tracking-wide text-justify">Ubicados en tierras de aptitud agrícola en La Francia, Córdoba, nuestras instalaciones cuentan con excelentes pasturas y una infraestructura de primera calidad. Esto nos permite proporcionar a nuestros caballos un entorno óptimo para su desarrollo físico y mental.</p>
    </div>

    <!-- Tarjeta 5: Resultados probados en competición -->
    <div class="bg-white p-4 md:p-2">
      <img src="../../public/images/Pilares/Resultados.svg" alt="Icono Servicio 5" class="mx-auto mb-4 h-40 md:h-44">
      <h3 class="text-xl font-bold mb-2 text-black text-center">Resultados probados en competición</h3>
      <p class="text-gray-600 tracking-wide text-justify">Nuestros productos han demostrado su valía en las pistas de salto más exigentes del país y a nivel internacional. Estamos orgullosos de ver cómo los caballos criados en nuestro haras destacan en competiciones de alto nivel, llevando nuestro nombre y reputación a lo más alto.</p>
    </div>

    <!-- Tarjeta 6: Compromiso con la excelencia continua -->
    <div class="bg-white p-4 md:p-2">
      <img src="../../public/images/Pilares/Compromiso.svg" alt="Icono Servicio 6" class="mx-auto mb-4 h-40 md:h-44">
      <h3 class="text-xl font-bold mb-2 text-black text-center">Compromiso con la excelencia continua</h3>
      <p class="text-gray-600 tracking-wide text-justify">Nos comprometemos a seguir buscando la excelencia en todo lo que hacemos. Ya sea a través de la adopción de nuevas tecnologías de cría, la introducción de nuevas líneas genéticas, la capacitación de nuestro personal o el estudio continuo del mundo ecuestre a nivel internacional, estamos constantemente buscando formas de mejorar y superar las expectativas.</p>
    </div>
  </div>
</section>
