---
import ImgHeaderHome from './ImgHeaderHome.astro'
---
<section class="bg-slate-100 relative w-full lg:min-h-[39rem] md:min-h-[39rem] sm:min-h-[60rem] bg-cover bg-center flex flex-col items-center">
  <ImgHeaderHome />
  <div class="text-center my-6 mt-8 w-full px-4 md:px-16">
    <div class="flex justify-center items-center space-x-2">
      <h1 class="text-3xl font-bold text-black font-garamond">HARAS DON CANDIDO</h1>
      <h2 class="text-xl text-monaco tracking-widest text-[#ab994b] mb-0">PEGASUS</h2>
    </div>
  </div>
  

  <div class="container mx-auto text-center my-4 sm:mb-8 flex flex-col sm:flex-row justify-center items-center w-full px-4 md:px-16 space-y-4 sm:space-y-0 sm:space-x-2">
     <!-- Bot칩n Ver Remate 2023 -->
     <div class="bg-[#ab994b] text-white rounded-lg py-2 sm:py-4 px-4 sm:px-12 w-full sm:w-1/2 lg:w-1/3 max-w-md sm:max-w-none mx-2 sm:mx-0 flex justify-between items-center">
      <p class="text-lg sm:text-2xl text-center">Remate 2023</p>
      <a
        href="/remate-2023"
        class="bg-white text-[#ab994b] py-2 px-6 sm:px-10 rounded hover:bg-gray-200">Ver M치s</a>
    </div>
    <!-- Bot칩n Ver Remate 2024 -->
    <div class="bg-[#ab994b] text-white rounded-lg py-2 sm:py-4 px-4 sm:px-12 w-full sm:w-1/2 lg:w-1/3 max-w-md sm:max-w-none mx-2 sm:mx-0 flex justify-between items-center">
      <p class="text-lg sm:text-2xl text-center">Remate 2024</p>
      <a
        href="/remate-2024"
        class="bg-white text-[#ab994b] py-2 px-6 sm:px-10 rounded hover:bg-gray-200">Ver M치s</a>
    </div> 
  </div>
</section>

<style>
  .font-garamond {
    font-family: 'Garamond', serif;
    font-weight: 400; 
  }

  .text-monaco {
    font-family: 'Monaco', monospace;
  }
</style>