---

---
<section class="text-center py-12 ">
    <div class="container mx-auto bg-slate-400">
      <h2 class="text-3xl font-bold mb-4 text-white">Servicios</h2>
      <p class="text-gray-600 mb-8">Estos son los servicios que se ofrecen a los clientes del haras.</p>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        <!-- Bloques de Servicio -->
        <div class="bg-white p-6 rounded-lg shadow-md text-center">
          <img src="icono1.png" class="mx-auto mb-4">
          <h3 class="text-xl font-bold mb-2 text-black">Servicio 1</h3>
          <p class="text-gray-600">Descripción del Servicio 1.</p>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-md text-center">
          <img src="icono2.png" alt="Icono Servicio 2" class="mx-auto mb-4">
          <h3 class="text-xl font-bold mb-2 text-black">Servicio 2</h3>
          <p class="text-gray-600">Descripción del Servicio 2.</p>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-md text-center">
          <img src="icono3.png" alt="Icono Servicio 3" class="mx-auto mb-4">
          <h3 class="text-xl font-bold mb-2 text-black">Servicio 3</h3>
          <p class="text-gray-600">Descripción del Servicio 3.</p>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-md text-center">
          <img src="icono4.png" alt="Icono Servicio 4" class="mx-auto mb-4">
          <h3 class="text-xl font-bold mb-2 text-black">Servicio 4</h3>
          <p class="text-gray-600">Descripción del Servicio 4.</p>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-md text-center">
          <img src="icono5.png" alt="Icono Servicio 5" class="mx-auto mb-4">
          <h3 class="text-xl font-bold mb-2 text-black">Servicio 5</h3>
          <p class="text-gray-600">Descripción del Servicio 5.</p>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-md text-center">
          <img src="icono6.png" alt="Icono Servicio 6" class="mx-auto mb-4">
          <h3 class="text-xl font-bold mb-2 text-black">Servicio 6</h3>
          <p class="text-gray-600">Descripción del Servicio 6.</p>
        </div>
      </div>
    </div>
  </section>