---
interface Props {
title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Volando mas alto" />
  <meta name="viewport" content="width=device-width" />
  <link data-default-icon="https://harasdoncandido.com.ar/images/Logo/Favicon.svg" rel="shortcut icon"
    href="https://harasdoncandido.com.ar/images/Logo/Logo Haras Formulario.svg">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet">
  <meta name="generator" content={Astro.generator} />
  <meta property="og:title" content={title} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://harasdoncandido.com.ar" />
  <meta property="og:image" content="https://harasdoncandido.com.ar/images/Logo/Logo-png.PNG" />
  <title>{title}</title>
</head>

<body>
  <slot />
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>

</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%);
  }

  html {
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    background-size: 224px;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>